.container {
  width: 1440px;
  padding: 0 240px;
  margin: 0 auto;

  @include viewport-1024 {
    width: 1024px;
    padding: 0 32px;
  }

  @include viewport-768 {
    width: 768px;
    padding: 0 32px;
  }

  @include viewport-360 {
    width: 360px;
    padding: 0 20px;
  }
}
