// Defaults
// ---------------------------------

$color-default-black: #000;
$color-default-white: #fff;
$font-roboto: "Roboto", "Arial", sans-serif;

// Viewports
// ---------------------------------

$viewport-320: 320px;
$viewport-360: 375px;
$viewport-768: 768px;
$viewport-1024: 1024px;
$viewport-1440: 1440px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
